# Pandas Tutorial
Disclaimer: This tutorial is adapted from online tutorials on Dataquest website.
Take a look at the good online material for further insights.

In [10]:
%matplotlib inline

import pandas as pd
import numpy as np
import math

### Import Data
Data can be read from many formats. Most common ones, csv and excel, are read in one shot using `read_csv` and `read_excel` data.

The `head(n)` method shows the first `n` rows (`n=5` by default).

In [11]:
reviews = pd.read_csv("ign.csv")
reviews.head(4)

,Unnamed: 0,score_phrase,title,url,platform,score,genre,editors_choice,release_year,release_month,release_day
0,0,Amazing,LittleBigPlanet PS Vita,/games/littlebigplanet-vita/vita-98907,PlayStation Vita,9.0,Platformer,Y,2012,9,12
1,1,Amazing,LittleBigPlanet PS Vita -- Marvel Super Hero E...,/games/littlebigplanet-ps-vita-marvel-super-he...,PlayStation Vita,9.0,Platformer,Y,2012,9,12
2,2,Great,Splice: Tree of Life,/games/splice/ipad-141070,iPad,8.5,Puzzle,N,2012,9,12
3,3,Great,NHL 13,/games/nhl-13/xbox-360-128182,Xbox 360,8.5,Sports,N,2012,9,11

In [12]:
# help(pd.read_csv)

In [13]:
thanks = pd.read_excel('thanksgiving_data/thanksgiving_data.xls')

The excel file is good, but the csv has a discrepancy: the columns are shifted one position on the right w.r.t. the labels. Here is how to fix it (see section below for explanation of the `iloc` method).

In [14]:
thanks_bad = pd.read_csv('thanksgiving_data/thanksgiving_data.csv')
col = thanks_bad.columns
thanks = thanks_bad.iloc[:,1:]
thanks.columns = col[0:-1]
thanks.head()

FileNotFoundError: File b'thanksgiving_data.csv' does not exist

### Indexing
Indexing data in a table is of utmost importance. Pandas supports several methods.
* `iloc` - integer based indexing: refers to rows and columns by their position, expressed an an integer starting from zero. 
* `loc` - label based indexing: uses row and column names.
* Boolean Indexing, using boolean masks
Row names are stored in the field `index` of a data frame. Column names are stored in the field `columns`.

In [ ]:
reviews.index

In [ ]:
reviews.iloc[0:10,0:2] #first ten rown, first two columns

In [ ]:
restricted_data = reviews.loc[10:20]
restricted_data

In [ ]:
restricted_data.loc[10:12]
# restricted_data.loc[0:2] does not work, one needs to use proper row labels.

In [ ]:
reviews.loc[0:10,"title"]

In [ ]:
reviews.loc[0:10,["title","score"]]

In [ ]:
reviews[["title","score"]]

In [ ]:
mask = reviews["score"] >= 9.5
mask

In [ ]:
cool_games = reviews[mask]["title"]
print("Fraction of cool games")
print(len(cool_games)/len(reviews["title"]))
cool_games

In [ ]:
#remove the first column
reviews = reviews.iloc[:,1:]
reviews

### Series and DataFrames
Tables are stored in a `DataFrame` object. Each column of a DataFrame is a `Series` object, basically anumpy array supporting mixed data types (casted to object type). Here are different ways to create Series and DataFrames. Check Pandas documentation  for further details.

In [ ]:
s1 = pd.Series([1,2,3,4,5])
s2 = pd.Series(['a','b','c','d','e'])
s3 = pd.Series([1,'a',1.0])

In [ ]:
s4 = pd.Series([1,2])
s5 = pd.Series(['a','b'])
print(s4)
print(s5)
pd.DataFrame([s4,s5],index=["c","d"])

In [ ]:
d = {"president": ["Salvini","Di Maio","Paperino","Maga Mago"], "chance": [1,2,8,12] }
df = pd.DataFrame(d,columns=["president","chance"])
df

Here are some functions you can use to get information about a data frame and to do some maths with numeric columns.

In [ ]:
reviews.mean()

In [ ]:
reviews.info()

In [ ]:
reviews["score"].describe()

In [ ]:
reviews.mean(axis=1)

In [ ]:
reviews.median()

In [ ]:
reviews["score"]/2*3

### Plotting in Pandas
`plot` method of `DataFrame` class is the way to go. The option `kind` allows the selection of the plot type.

In [ ]:
reviews["score"].plot()
#default is line plot - good for timeseries data.

In [ ]:
reviews["score"].plot(kind='hist')

In [ ]:
reviews["score"].hist()

### Summarising Data
`unique` and `value_counts` are good methods to get a glimpse on categorical columns.

In [ ]:
thanks["Do you celebrate Thanksgiving?"].unique()

In [ ]:
thanks["Do you celebrate Thanksgiving?"].value_counts()

In [ ]:
thanks["What is your gender?"].value_counts(dropna=False)

### Applying functions to Series and DataFrames
One can use the method `apply` of the Series object, which applies the function (passed as argument) to each element of the Series. Functions can be numpy or python functions, or customly defined. Lambda (implicit) functions are usable as well.

In [ ]:
thanks["gender"] = thanks["What is your gender?"]

In [ ]:
def gender_code(gstr):
    if (pd.isnull(gstr)):
        return gstr
    elif gstr == "Female":
        return 1
    else:
        return 0

thanks["gender"].apply(gender_code)
thanks["gender"].value_counts(dropna=False)

Let's convert the information about income into numerics, so we can plot it. First we take a look at the different categories and figure out how to turn them into a number.

In [ ]:
thanks["income"] = thanks["How much total combined money did all members of your HOUSEHOLD earn last year?"]

In [ ]:
thanks["income"].unique()

In [ ]:
value = '$150,000 to $174,999'
print(value)
value = value.replace(",", "").replace("$", "")
print(value)
income_high, income_low = value.split(" to ")
print( (int(income_high) + int(income_low)) / 2)

In [ ]:
def clean_income(value):
    if value == "$200,000 and up":
        return 200000
    elif value == "Prefer not to answer":
        return np.nan
    elif pd.isnull(value):
        return np.nan
    value = value.replace(",", "").replace("$", "")
    income_high, income_low = value.split(" to ")
    return (int(income_high) + int(income_low)) / 2

thanks["income"] = thanks["income"].apply(clean_income)

### Grouping Data with Pandas
Grouping data allows to aggregate data w.r.t. the values of one column, typically a  category, even hierarchically. The `groupby` method returns a collection of dataframes, which can be iterated on.

In [ ]:
sauce_str = "What type of cranberry saucedo you typically have?"
thanks[sauce_str].value_counts()
grouped = thanks.groupby(sauce_str)
grouped.size()

for name, group in grouped:
    print(name)
    print(group.shape)
    print(type(group))

### Aggregating and Plotting
Numerical columns in grouped structures can be aggregated, so to visualise their mean, sum, and so on, by calling the `agg` function. You can specify which  columns in the grouped structure are aggregated, by selecting them, or pass a list of aggregating functions.

In [ ]:
grouped.agg(np.mean)

In [ ]:
gr_income = grouped["income"].agg(np.mean)
gr_income

In [ ]:
grouped["income"].agg([np.mean,np.std])

Plotting an aggregated grouped data can be easily done. Use the `bar` plot kind.

In [ ]:
gr_income.plot(kind="bar")

In [ ]:
grouped2 = thanks.groupby(["What type of cranberry saucedo you typically have?", "What is typically the main dish at your Thanksgiving dinner?"])
grouped2["income"].agg(np.mean)

In [ ]:
grouped2["income"].agg([np.mean, np.sum, np.std]).head(10)

`agg` returns a single value. to count for each category, we need to apply a function to a group. Note that `apply` called from a DataFrame is applied by default to each column. Using the `axis=0` option, one can apply it to each row.

In [ ]:
grouped = thanks.groupby("How would you describe where you live?")["What is typically the main dish at your Thanksgiving dinner?"]
grouped.apply(lambda x:x.value_counts())

### Pivot_tables
Pivot Tables are a very common way of aggregating information of a table, in order to visualize it in a clearer way. 
Pandas supports pivot tables with the `pivot_table` method, having a certain amount of options which will be discussed below.  
We can define hierarchical aggregations on rows and columns, and specify which features will be aggregated and how.

In [ ]:
sales = pd.read_excel("sales-funnel.xlsx")
sales.head()

In [ ]:
#this forces the Status column into a category type. 
sales["Status"] = sales["Status"].astype("category")
sales["Status"].cat.set_categories(["won","pending","presented","declined"],inplace=True)

In [ ]:
sales.info()

In [ ]:
pd.pivot_table(sales,index=["Name"])

`index` specifies how to aggregate on rows. Passing a list specifies an hierarchical grouping.

In [ ]:
pd.pivot_table(sales,index=["Manager","Rep"])

`values` allows us to pick the features we want to aggregate and show on the table. By default, all numeric columns are shown.

In [ ]:
pd.pivot_table(sales,index=["Manager","Rep"],values=["Price"])

`aggfunc` specifies the aggregating function. We can also pass a list of functions.

In [ ]:
pd.pivot_table(sales,index=["Manager","Rep"],values=["Price"],aggfunc=np.sum)

In [ ]:
pd.pivot_table(sales,index=["Manager","Rep"],values=["Price"],aggfunc=[np.mean,len])

`column` specifies the features to group data on columns. In this way, we can build hierarchical indices both for rows and columns. In principle, one can group only on rows, just that group on rows and columns gives a better view of the data.

In [ ]:
pd.pivot_table(sales,index=["Manager","Rep"],values=["Price"],columns=["Product"],
               aggfunc=[np.sum])

In [ ]:
pd.pivot_table(sales,index=["Manager","Rep","Product"],values=["Price"],aggfunc=np.sum)

`fill_value` allows us to choose how to visualize NaN, caused by the fact that some categories may be missing in a given group. Note that these are discarded automatically when grouping by row.

In [ ]:
pd.pivot_table(sales,index=["Manager","Rep"],values=["Price"],
               columns=["Product"],aggfunc=[np.sum],fill_value=0)

If we choose more features as values, we get a subdivision for each feature.

In [ ]:
pd.pivot_table(sales,index=["Manager","Rep"],values=["Price","Quantity"],
               columns=["Product"],aggfunc=[np.sum],fill_value=0)

In [ ]:
pd.pivot_table(sales,index=["Manager","Rep","Product"],
               values=["Price","Quantity"],aggfunc=[np.sum],fill_value=0)

`margins=True` shows also the aggregated quantity over the dataset.

In [ ]:
pd.pivot_table(sales,index=["Manager","Rep","Product"],values=["Price","Quantity"],
               aggfunc=[np.sum,np.mean],fill_value=0,margins=True)

In [ ]:
table =  pd.pivot_table(sales,index=["Manager","Rep","Product"],values=["Price","Quantity"],
               aggfunc={"Quantity":len,"Price":np.sum},fill_value=0,margins=True)
table

If we save a pivot table, we can query it, and perform other operations. Check Pandas documentation for details.

In [ ]:
table.query('Manager == ["Debra Henley"]')